body{
margin: 0;
padding: 0;
box-sizing: border-box;
}
#display{
    width: 80%;
    height: 6rem;
    margin: 0 auto;
    background-color: #a9a9a9;
    text-align: end;
    margin-top: 40px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 5rem;
}
.container{
    height: 43.75rem;
    max-width: 30rem;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: gray;
    border-radius:15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px
}
.container button{
    height: 3rem;
    width:  5rem;
    justify-content: center;
    font-family: "Roboto", sans-serif;
     font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    cursor: pointer;
}
.row{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.buttoncontainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.Operators{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
#clear{
    background-color: #FFD700;
    color: white;
}
#clear:hover{
    background-color: #FFA500;
    transition: 0.2s;
}
#Result{
    background-color: black;
    color: white;
}
#Result:hover{
    background-color: rgb(32, 31, 31);
    transition: 0.2s;
}